body{
  margin:0;
  padding:0;
  text-align:center;
  background-color: #ee4540;
  background-image: url("patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: cover cover;
  background-attachment:fixed;
  font-family: 'Galindo', cursive;

}


