body{
  margin:0;
  padding:0;
  text-align:center;
  background-color: #035aa6;
  background-image: url("patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Galindo', cursive;

}

.header{
  font-size:500%;
  font-weight:700;
  margin:8rem auto 1rem;
  font-family: 'Permanent Marker', cursive;
  color:black;
}

.form-group{
  width:10%;
}


.btn1 { 
  display:inline-block;
  background-color: #ee4540;
}



.form-control{
  width:40%;
  display:inline-block
}

.container{
  margin:auto;
}

.cardscontainer{
  transform: translate(-50%, -50%);
  width:93%;
  height:10%;
  display: inline-flex;
  flex-flow:row wrap;
  justify-content: space-around;
  margin:80% 0 -80% 50%;
  border:1px solid black;
  background-color:#393e46;
  border-radius:0.3%;
  box-shadow: 10px 0px 10px 10px rgba(0, 0, 0, 0.5);

}

.card{
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 250px;
  width:160px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
 display:inline-block;
 margin:1% 0 0 1%; 


  
}
.card img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card h2{
  color: #ee4540;
  font-size:90%;
  margin: 4px 0 2px;
}
.card p{
 font-size:80%;
 line-height:14px;
}
.card button{
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #ee4540;
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
}
.card button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}

/*design sezione un solo libro*/

.volumeContainer{
  display:flex;
  flex-flow:row;
  justify-content: space-around;
  width:70%;
  min-height: 40%;
  margin:8% auto;
  background-color: #393e46;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 
  0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding:1%;
  color:white;
}

.leftpresentation{
  border-right:1px solid black;
  width:30%;
}

.imaged{
  box-shadow:0 4px 8px 0 rgba(0, 0, 
  0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:1px solid black;
}
ul {
  list-style-type: none;
  text-align:left;
  padding:0;
}
.icons{
  width:10%;
}
.volumeTitle{
  color: #ee4540
}
/* FILE HTWO */

.navbar{
  background-color:#393e46;
  display:flex;
  flex-flow:row nowrap;
  justify-content: left;
  margin-top:0;
  height:3.4rem;
  border-radius: 1%;
}

.form2{
  text-align:left;
  display:flex;
  flex-flow:row nowrap;
  justify-content: left;
}

.header2{
  font-weight:700;
  color:white;
  font-family: 'Permanent Marker', cursive;
}

a{
  text-decoration:none;
  color:inherit;
}
a:hover{
  text-decoration:none;
  color:inherit;
}
